html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    font-family: sans-serif;
    line-height: 150%;
    max-width: 800px;
}

h1 {
    text-align: center;
}

#rickroll {
    text-align: center;
}

footer {
    text-align: center;
    font-size: small;
}

code {
    padding: 12px;
    display: block;
    overflow: auto;
}

pre {
    padding-left: 12px;
    display: block;
    overflow: auto;
}
 
code.inplace {
    padding: 0px;
    display: inline;
}

.toolbar {
    display: none;
}

@media print {
    object {
	width: 100%;
    }
}